.ModalStyle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    //inset: 40px;
    width: 70%;
    max-height: 80vh;
    min-height: 25vh;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
