.ModalStyle {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    max-height: 400px;
    min-height: 25vh;
    background: rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    outline: none;
}
