.MyRow {
    display: flex;
    border-bottom: 2px solid #F5F8FA;
    & > div {
        //flex: 1;
        border-right: 2px solid #F5F8FA;
        padding-left: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
    }

    //padding: 6px;
    user-select: none;
    color: black;
    background-color: transparent;

    &.row-selected, .row-selected {
        color: #4B7DEF;
        background-color: #F5F8FA;
    }

    &.row-header {
        font-weight: 700;
        border-bottom: 2px solid #F5F8FA;
        position: sticky;
        top: 0;
        background: #fff;

        & > div {
            padding-right: 0px;
        }

        .cell-content {
            float: left;
            // min-width: 50px;
            min-height: 1em;
            cursor: pointer;
        }

        .resizer {
            width: 5px;
            height: 100%;
            cursor: ew-resize;
            float: right;
            &:hover {
                transition: all ease-in 0.2s;
                // transform: scaleX(1.5);
                background: #4B7DEF;
            }
        }
    }
}
