.MyRow {
    display: flex;

    & > div {
        //flex: 1;
        border-right: 1px solid #ccc;
        padding: 6px;
        box-sizing: border-box;
    }

    //padding: 6px;
    user-select: none;
    color: black;
    background-color: transparent;

    &.row-selected, .row-selected {
        color: blue;
        background-color: #eee;
    }

    &.row-header {
        font-weight: 700;
        border-bottom: 1px solid #ccc;

        & > div {
            padding-right: 0px;
        }

        .cell-content {
            float: left;
            min-width: 50px;
            min-height: 1em;
        }

        .resizer {
            width: 2px;
            height: 100%;
            background-color: red;
            cursor: ew-resize;
            float: right;
        }
    }
}
