.CompanyInfoModal {
    div.fieldset {
        border: none;
        display:flex;
        label {
            flex-basis: 150px;
            text-align: right;
            font-weight: 700;
        }
        label + input, label+.Editable {
            flex: 1;
        }
    }
}
